
label{ display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 45px;
     margin-top: 7.2rem;
     margin-bottom: -10rem;
     color: rgb(239, 239, 239);
}


.card_text {
  text-align: center;
 margin-top: 2rem;
 font-family: sans-serif;
 font-weight: bold;
 font-size: 20px;
  display: none;
  color: rgb(151, 149, 149);
  opacity: 0; 
  transition: opacity 0.3s ease;
}
.card:hover .card_text {
  opacity: 1; 
}
/* .card:hover .card_image {
  display: none;
} */

.card:hover .card_text {
  display: block;
}
p{
     margin-top: 7.2rem;
    margin-bottom: -7rem;
    font-size: 40px;  
}
.cards-list {
    
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 7rem;
    margin-top: 8.2rem;

  }
  
  .card {
    border: 1px solid black;
    margin: 30px auto;
    width: 180px;
    height: 180px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(21, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
    color: black !important;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
    margin: -0.9px;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.8, 0.8);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {

      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  
  
  
  /* .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
  }
  */