
<br>
   
<div >
  <label>What are you in the mood for?</label>
</div>

<div class="cards-list">
  <div class="card" (click)="theme(1)">
    <div class="card_image"><img src="/../assets/images/1.png" /></div>
    <div class="card_text" >Comedy</div>
  </div>

  <div class="card" (click)="theme(2)">
    <div class="card_image"><img src="/../assets/images/2.png" /></div>
    <div class="card_text"  >Drama</div>
  </div>

  <div class="card" (click)="theme(3)">
    <div class="card_image"><img src="/../assets/images/5.png" /></div>
    <div class="card_text"  >Thriller</div>
  </div>
  <div class="card" (click)="theme(4)">
    <div class="card_image"><img src="/../assets/images/4.png" /></div>
    <div class="card_text" >Romance</div>
  </div>

  <div class="card" (click)="theme(5)">
    <div class="card_image"><img src="/../assets/images/3.png" /></div>
    <div class="card_text"  >Horror</div>
  </div>

  <div class="card" (click)="theme(6)">
    <div class="card_image"><img src="/../assets/images/6.png" /></div>
    <div class="card_text"  >Documentary</div>
  </div>
</div>
