
<br>


<div class="movie-details">
    <br><br>
    <div class="top-section">
           <div class="image" style="background-image: url('https://image.tmdb.org/t/p/w500/{{ serie?.poster_path }}' ) ;">
            </div>
    
      <div class="card" style="width: 70%;">
        
        <div class="movie-info" style="background-color: rgb(0, 0, 0) !important;">
        
          <h1 style="font-weight:bold; font-weight: 900;">{{ serie.original_name }} </h1>
          <div class="tmdb-rating" style="text-align: right; margin-top: -3rem; margin-right: 5rem; font-weight: 900;">
        
            <span class="badge bg-warning text-dark">{{ serie.vote_average }}/10</span>
            
          </div>
        <br>
        <h2 style=" color:rgba(255, 255, 255, 0.849); font-style: normal;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 20px; text-align: left; text-decoration: none;"> {{serie.tagline}}</h2>

          <p class="overview" style="padding-left: 1rem; padding-right:2rem;color: rgba(255, 255, 255, 0.795); font-weight: 200;">{{ serie.overview }}</p>
       
          <div class="movies" >
            <div class="info" >
              <h2 style=" font-weight:bold;color: rgba(255, 255, 255, 0.795);">Genres</h2>
              <ul>
                <li *ngFor="let genre of serie.genres" >
                  <p style="color: rgb(211, 208, 208); ">{{ genre.name }} </p>
                </li>
              </ul>
            </div>
            <div class="info" >
              <h2 style="font-weight:bold; color: rgba(255, 255, 255, 0.795);">Language</h2>
              <p style="color: rgb(211, 208, 208); ">English</p>
            </div>
            <div class="info">
              <h2 style=" font-weight:bold;color: rgba(255, 255, 255, 0.795);">Release Date</h2>
              <p style="color: rgb(211, 208, 208); ">{{ serie.first_air_date  }}</p>
            </div>
          </div>
     
          <div class="actions">
            <br>
            <div class="video-container">
              <iframe [src]="getSafeVideoUrl()" frameborder="0" allowfullscreen autoplay></iframe>
            </div>
            <i class="fas fa-heart" (click)="addToFavorites(serie.id)" [ngClass]="{'clicked': isFavoritesClicked}"></i>
            <i class="fa-solid fa-eye" (click)="addToWatchlist(serie.id)" [ngClass]="{'clicked': isWatchlistClicked}"></i>
            
            <br>
          </div>
          
     

    <div class="cast">
     
      <h2 style="font-weight:bold; font-size: 1rem; text-align: left; color:rgb(211, 208, 208);">Cast</h2><br>
      <ul>
        <ng-container *ngFor="let actor of cast; let i = index" style="display: flex; justify-content: center;">
          <li [hidden]="i >= 12 && !showAllCast">
            <img
            src="https://image.tmdb.org/t/p/w200/{{ actor.profile_path }}"
            alt=""
            class="actor-image"
            onerror="this.src='/assets/images/avatar.png'"
          >
          
            <p class="character">{{ actor.character }}</p>
            <p>{{ actor.name }}</p>
          </li>
        </ng-container>
      </ul>
     
    </div><div class="button">
   
      <button  class="btn btn-primary" (click)="toggleShowAllCast()">Show {{ showAllCast ? 'Less' : 'More ...  ' }} </button>
    </div>
  </div>
         
</div>

</div>

  </div>
   